 body {

    font-family: sans-serif;
}
    header{
          background-color: gainsboro
    ;
        padding:10px;
        border-radius: 30px;

           font-family: sans-serif;
          
    }
    p img {
    width: 100px;
    margin: 10px;
}
 .a{
     border: 10px solid blueviolet;
 
